<!DOCTYPE html>
<html>
    <head>
        <title> <%=shopname%> </title>
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <%- include("header") %>
        <h1> <u> About <%=shopname%> Shop </u> </h1>
        <p> We sell all sorts of drinks </p>
    </body>
</html>