<!DOCTYPE html>
<html>
    <head>
        <title> <%=shopname%> </title>
    </head>
    <body>
        <h1> About <%=shopname%> Shop </h1>
        <p> We sell all sorts of drinks </p>
    </body>
</html>