<!DOCTYPE html>
<html>
    <head>
        <title> <%=shopname%> </title>
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <%- include("header") %>
        <h1> <u> Welcome to <%=shopname%> Shop </u> </h1>
        <h2> Here are things that we sell: </h2>
        <div class="list">
            <ul>
                <% for(let i = 0; i < productCatergories.length; i++) { %>
                    <li> <%= productCatergories[i] %> </li>
                <% } %>
            </ul>
        </div>
    </body>
</html>