<!DOCTYPE html>
<html>
    <head>
        <title> <%=shopname%> </title>
    </head>
    <body>
        <h1> Welcome to <%=shopname%> Shop </h1>
        <h2> Here are things that we sell: </h2>
        <ul>
            <% for(let i = 0; i < productCatergories.length; i++) { %>
                <li> <%= productCatergories[i] %> </li>
            <% } %>
        </ul>
    </body>
</html>