<!DOCTYPE html>
<html>
    <head>
        <title> <%=shopname%> </title>
    </head>
    <body>
        <h1> Search in <%=shopname%> Shop </h1>
        <p> Search here... </p>

        <form action="/search_result" method="GET">
            Name: <input id="search box" type="text" name="search_text">
            Catergory: <input id="search box" type="text" name="catergory">
            <input type="submit" value="OK">
        </form>

    </body>
</html>