<!DOCTYPE html>
<html>
    <head>
        <title> <%=shopname%> </title>
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <%- include("header") %>
        <h1> <u> Search in <%=shopname%> Shop </u> </h1>
        <p> Search here... </p>

        <form action="/search_result" method="GET">
            Name: <input id="search box" type="text" name="search_text" required>
            Catergory: <input id="search box" type="text" name="catergory" required>
            <input type="submit" value="OK">
        </form>

    </body>
</html>